# Flutter
flutter-app/build/
flutter-app/.dart_tool/
flutter-app/.flutter-plugins
flutter-app/.flutter-plugins-dependencies
flutter-app/.packages
flutter-app/.pub/
flutter-app/.pub-cache/
flutter-app/.vscode/

flutter-app/.dart_tool/
flutter-app/.flutter-plugins
flutter-app/.flutter-plugins-dependencies
flutter-app/.packages
flutter-app/.pub/
flutter-app/.pub-cache/
flutter-app/.dart_tool/
flutter-app/flutter_assets/

# Spring Boot
backend/target/
backend//.mvn/
backend/.idea/

*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.out
*.zip
*.gz
*.exe
*.dll
*.so
*.pdb
*.idb
.idea/

/backend/src/main/resources/application.properties